<!DOCTYPE html>
<html>
  <app-app-header></app-app-header>
  <body>
    <div class="wrapper">
      <app-app-sidenav></app-app-sidenav>
      <div id="page-content">
        <app-app-top-right-nav></app-app-top-right-nav>
        <h1 id="pageTitle">UPDATE MENU</h1>
        <label>Menu Theme:</label>
        <input [ngModel]="menuToUpdate?.menuTheme" (ngModelChange)="menuToUpdate.menuTheme = $event">
        <button class="button" (click)="updateEvent(eventToUpdate)">Done</button>
      </div>
      <app-app-script-sidebar></app-app-script-sidebar>
    </div>
  </body>
</html>
