<!DOCTYPE html>
<html>
  <app-app-header></app-app-header>
  <body>
    <div class="wrapper">
      <app-app-sidenav></app-app-sidenav>
      <div id="page-content">
        <app-app-top-right-nav></app-app-top-right-nav>
        <h1 id="pageTitle">UPDATE EVENT</h1>
        <label>Event Name:</label>
        <input [ngModel]="eventToUpdate?.eventName" (ngModelChange)="eventToUpdate.eventName = $event" />
        <label>Event Date:</label>
        <input type="datetime-local" [ngModel]="eventToUpdate?.eventDate" (ngModelChange)="eventToUpdate.eventDate = $event" />
        <label>Event Location:</label>
        <input [ngModel]="eventToUpdate?.eventLocation" (ngModelChange)="eventToUpdate.eventLocation = $event" />
        <button class="button" (click)="updateEvent(eventToUpdate)">Done</button>
      </div>
      <app-app-script-sidebar></app-app-script-sidebar>
    </div>
  </body>
</html>
