<h3>Update Event</h3>
<h4>{{eventToUpdate?.eventName}}</h4>
<label>Event Name:</label>
<input [ngModel]="eventToUpdate?.eventName" (ngModelChange)="eventToUpdate.eventName = $event" />
<label>Event Date:</label>
<input [ngModel]="eventToUpdate?.eventDate" (ngModelChange)="eventToUpdate.eventDate = $event" />
<label>Event Location:</label>
<input [ngModel]="eventToUpdate?.eventLocation" (ngModelChange)="eventToUpdate.eventLocation = $event" />
<button (click)="updateEvent(eventToUpdate)">Done</button>
