<!DOCTYPE html>
<html>
  <head>
    <app-app-header></app-app-header>
  </head>
  <body>
    <div class="wrapper">
      <app-app-sidenav></app-app-sidenav>
      <div id="page-content">
        <app-app-top-right-nav></app-app-top-right-nav>
        <h1 id="pageTitle">About this Application</h1>
        <h3 class="h3">Overview</h3>
        <p class="ptext">This project is a re-development of a C#-based team project from the Epicodus C# class called "eHappenings", an Event Planning tool. The C# code has been converted to javascript and Angular
  and the C# Model/View/Controller structure has been converted to the Angular Model/View/Component structure.
  Much of the styling has been kept from the C# project and credit for the styling goes to Clara Munro and Micaela Jawor.</p>
        <h3 class="h3">Technical Features</h3>
        <div class="ptext">
          <ul>
            <li>7 model classes</li>
            <li>45 child components</li>
            <li>7 pipes</li>
            <li>39 routes</li>
            <li>8 services</li>
            <li>1 API</li>
          </ul>
        </div>
      </div>
    </div>
    <app-app-script-sidebar></app-app-script-sidebar>
  </body>
</html>
