<!DOCTYPE html>
<html>
<app-app-header></app-app-header>
<body>
  <div class="wrapper">
    <app-app-sidenav></app-app-sidenav>
    <div id="page-content">
      <app-app-top-right-nav></app-app-top-right-nav>
        <h1 id="pageTitle">SEARCH FOR STORES</h1>
        <label>Enter Part or All of the Store Name:</label>
        <input [(ngModel)]="searchString">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item list-group-item-success" *ngFor="let foundStore of storeList | async | SearchStorePipe : searchString">Name: {{foundStore.storeName}}<br><br><button class="button" (click)="goToEditStorePage(currentStore)">Update</button><button class="button" (click)="goToDeleteStorePage(currentStore)">Delete</button></li>
        </ul>
      </div>
      <app-app-script-sidebar></app-app-script-sidebar>
    </div>
  </body>
</html>
