<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Exit</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/events">Events</a></li>
      <li><a routerLink="/menus">Menus</a></li>
      <li><a routerLink="/menu-items">Entrees</a></li>
      <li><a routerLink="/menu-item-ingredients">Ingredients</a></li>
      <li><a routerLink="/tasks">Tasks</a></li>
      <li><a routerLink="/stores">Stores</a></li>
      <li><a routerLink="/invitees">Guests</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
