<!-- Sidebar Holder -->
<nav id="sidebar">
  <!-- <button type="button" id="closeNav">
    <svg class="fas fa-times"></svg>
  </button> -->
  <ul class="list-unstyled components">
    <li class="active">
      <a routerLink="/events">EVENTS<br><i class="fas fa-plus"></i></a>
    </li>
    <li>
      <a routerLink="/menus">MENUS<br><i class="fas fa-book-open"></i></a>
    </li>
    <li>
      <a routerLink="/menu-items">DISHES<br><i class="fas fa-utensils"></i></a>
    </li>
    <li>
      <a routerLink="/menu-item-ingredients">FOODS<br><i class="fas fa-seedling"></i></a>
    </li>
    <li>
      <a routerLink="/stores">STORES<br><i class="fas fa-shopping-cart"></i></a>
    </li>
    <li>
      <a routerLink="/tasks">TASKS<br><i class="fas fa-check"></i></a>
    </li>
    <li>
      <a routerLink="/invitees">INVITES<br><i class="fas fa-at"></i></a>
    </li>
  </ul>
</nav>
