<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>
    Plan your next fabulous event</h2>
    <button type="button"><a>ENTER</a></button>
</div>
<app-show-events [childEventList]="eventList" (clickSender)="editEvent($event)"></app-show-events>
<app-new-event (sendEvent)="addEvent($event)"></app-new-event>
<app-edit-event [childSelectedEvent]="selectedEvent" (clickedDone)="finishedEditing()"></app-edit-event>
<app-show-menus></app-show-menus>
<app-show-menu-items></app-show-menu-items>
<app-show-menu-item-ingredients></app-show-menu-item-ingredients>
<app-show-tasks></app-show-tasks>
<app-show-stores></app-show-stores>
<app-show-invitees></app-show-invitees>
