<div class="container">
  <router-outlet></router-outlet>
</div>
<!-- <app-show-events [childEventList]="eventList" (clickSender)="editEvent($event)" (clickDeleteSender)="confirmDeleteEvent($event)"></app-show-events>
<app-new-event [lastEventId]="lastEventId" (sendEvent)="addEvent($event)"></app-new-event>
<app-edit-event [childSelectedEvent]="selectedEvent" (clickedDone)="finishedEditing()"></app-edit-event>
<app-delete-event [eventToDelete]="selectedEventToDelete" (deleteEvent)="deleteEvent($event)"></app-delete-event>
<app-search-event [searchEventList]="eventList"></app-search-event>
<app-show-menus></app-show-menus>
<app-show-menu-items></app-show-menu-items>
<app-show-menu-item-ingredients></app-show-menu-item-ingredients>
<app-show-tasks></app-show-tasks>
<app-show-stores></app-show-stores>
<app-show-invitees></app-show-invitees> -->
