<!DOCTYPE html>
<html>
  <head>
    <app-app-header></app-app-header>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to <span class="e">e</span>Happenings!</h1>
      <h2>Plan your next fabulous event</h2>
      <!-- <ul>
        <li *ngIf="isLoggedIn">
          <button class="button"><a (click)="logout()" routerLink="/main">Log Out</a>
          </button>
        </li>
        <li *ngIf ="!isLoggedIn"> -->
          <!-- <button class="button"><a (click)="login()" routerLink="/main">Log In</a>
          </button> -->
        <!-- </li>
      </ul> -->
    <!-- </div>
    <div> -->
      <button type="button"><a routerLink="main">ENTER</a></button>
      <br>
    </div>
  </body>
</html>
