<!DOCTYPE html>
<html>
<app-app-header></app-app-header>
<body>
  <div class="wrapper">
    <app-app-sidenav></app-app-sidenav>
    <div id="page-content">
      <app-app-top-right-nav></app-app-top-right-nav>
      <h1 id="pageTitle">SEARCH FOR EVENTS</h1>
      <label>Enter Part or All of the Event Name:</label>
      <input [(ngModel)]="searchString">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item list-group-item-success" *ngFor="let foundEvent of eventList | async | SearchEventPipe : searchString">Event: {{foundEvent.eventName}}<br>Date: {{foundEvent.eventDate}}<br>Location: {{foundEvent.eventLocation}}<br><br><button class="button" (click)="goToEditEventPage(foundEvent)">Update</button>  <button class="button" (click)="goToDeleteEventPage(foundEvent)">Delete</button></li>
      </ul>
    </div>
    <app-app-script-sidebar></app-app-script-sidebar>
  </div>
</body>
</html>
