<!DOCTYPE html>
<html>
  <app-app-header></app-app-header>
  <body>
    <div class="wrapper">
      <app-app-sidenav></app-app-sidenav>
      <div id="page-content">
        <app-app-top-right-nav></app-app-top-right-nav>
        <h1 id="pageTitle">ADD NEW EVENT</h1>
        <label>Enter Event Name:</label>
        <input #newEventName>
        <label>Enter Event Date:</label>
        <input #newEventDate type="date">
        <label>Enter Event Location:</label>
        <input #newEventLocation>
        <button class="button" (click)="addEvent(newEventName.value, newEventDate.value, newEventLocation.value, 1); newEventName.value=''; newEventDate.value=''; newEventLocation.value='';">Add Event</button>
      </div>
      <app-app-script-sidebar></app-app-script-sidebar>
    </div>
  </body>
</html>
